node-red/flows.json
[{"id":"55881e3e8770a619","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cdc5e78d4ae79ea8","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d70e2ad183981644","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"70184fda.83611","type":"server","name":"Home Assistant","addon":true},{"id":"c013c690e8916857","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"20bc38a1376dc65b","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"5e1e618680b96ea7","type":"inject","z":"55881e3e8770a619","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["60700fdc476fbe79"]]},{"id":"995b909042708bfb","type":"debug","z":"55881e3e8770a619","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"60700fdc476fbe79","type":"function","z":"55881e3e8770a619","name":"function 1","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["995b909042708bfb"]]},{"id":"1fc6157146ff6b5f","type":"inject","z":"cdc5e78d4ae79ea8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[[]]},{"id":"b8c499ff42f42a04","type":"http request","z":"cdc5e78d4ae79ea8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":60,"wires":[["27a06bc8a3e1ead3"]]},{"id":"27a06bc8a3e1ead3","type":"csv","z":"cdc5e78d4ae79ea8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":330,"y":160,"wires":[["138fcc5bbca2ddc5","824e8a96cc47a8ef"]]},{"id":"138fcc5bbca2ddc5","type":"debug","z":"cdc5e78d4ae79ea8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"824e8a96cc47a8ef","type":"switch","z":"cdc5e78d4ae79ea8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":220,"wires":[["1e9d4e40d5a3e421"]]},{"id":"1e9d4e40d5a3e421","type":"change","z":"cdc5e78d4ae79ea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["84f53d742a8eb60f"]]},{"id":"84f53d742a8eb60f","type":"debug","z":"cdc5e78d4ae79ea8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]},{"id":"0fb48713086b1bef","type":"inject","z":"d70e2ad183981644","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["2dff70183957df01"]]},{"id":"2dff70183957df01","type":"http request","z":"d70e2ad183981644","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://group.vattenfall.com/api/errorresilientiframe/https__gvp-vattenfall-com_sweden_produced-power_iframe_ringhals/default.html","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":60,"wires":[["6b92105561a9a3e3"]]},{"id":"6b92105561a9a3e3","type":"debug","z":"d70e2ad183981644","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":60,"wires":[]}]